@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,
html{
    overflow:hidden ;
    scroll-behavior: smooth;
    width: 100ww;
    background: #101014;
    height: 100%;
    margin: 0; 
}

h1, h2, label, th{

    color: #C6C6C6;
    font-family: "Montserrat";

}

a{
    margin-top: 50px;
}